.container{
    background-image: url(https://images.unsplash.com/photo-1758072328635-586f3c121af2?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwyfHx8ZW58MHx8fHx8);
    background-size: cover;
    height: 100vh;
}
.Navbar{
    display: flex;
    

}
.logo{
    margin-left: 60px;
    margin-top: 50px;
    cursor: pointer;
    
}

button{
    margin-left: 70rem;
    margin-top: 50px;
    border: none;
    color: rgb(239, 239, 241);
    background-color: rgb(110, 110, 245);
    
}

button:hover{
    padding: 15px;
    background-color: black;

}

.banner{
    font-size: 50px;
    margin-left: 60px;
}

.about-Qaiba{
    display: flex;
    margin-top: 25rem;
}
.sidepic{
    display: flex;
    height: 600px;
    width: 600px;
    margin-left: -60px;
    margin-bottom: 60px;

}

.qaiba{
    margin-left: 25rem;
    margin-top: -30px;
}

.qaiba h1{
    font-size: 70px;
    padding: 20px;
}

.qaiba p{
    font-size: 25px;
    margin-top: -60px;
    padding: 20px;
    
}

.btn{
    margin-left: -0px;

    padding: 17px;
    
    
}

h2{
    text-align: center;
    font-size: 50px;
}


.card{
    display: flex;
    gap: 60px;
    margin-left: 10rem;
}

h3{
    text-align: center;
    font-size: 25px;

}
.p{
    text-align: center;
}
.service-pic{
    background-image: url(https://images.unsplash.com/photo-1588345921523-c2dcdb7f1dcd?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8d2hpdGUlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww);
    background-size: cover;
    height: 80vh;
    padding-top: 30px;
}

.bor{
    border: 1px solid rgb(133, 131, 131);
}

.twopic{
    margin-top: -250px;
}

.cients{
    display: flex;
    grid-template-columns: repeat(2,1);
}
.cilentsthree{
    margin-left: 47rem;
    font-size: 20px;
}


